@import '../../style/varaibles.scss';


.menu--container {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    // z-index: 1;

    .menu--subcontainer11 {
        position: relative;
        display: flex;
        background: rgb(255, 255, 255);
        padding: 0 $large;
        // padding-left: 180px;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-size: $medium;
        margin-left: 130px;
        z-index: 2;



        p {
            font-family: $fontNormal;
            font-weight: 700;
            font-size: $medium;
            cursor: pointer;
            transition: color .3s ease-in;
            opacity: .8;


            &:hover {
                color: #005AE0;
                transition: color .3s ease-in;
            }
        }
    }

    .menu--subcontainer12 {
        border-top: solid 1px #F2F5F8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: fit-content;
        background: rgb(255, 255, 255);
        height: calc(100vh - 100px);
        position: relative;
        z-index: 2;

        div {
            display: flex;
            align-items: center;
            margin-left: 16px;
            cursor: pointer;
            justify-content: start;
            transition: transform .3s ease-in;



            &:hover {
                color: #005AE0;
                transform: translateX(10px);
                transition: transform .3s ease-in;
            }

            p {
                margin-left: 16px;
                margin-right: 16px;
                font-family: $fontNormal;
                font-size: $small;
                font-weight: 400;
                opacity: .8;
                // color: black;
                transition: color .3s ease-in;


                &:hover {
                    transition: color .3s ease-in;
                }
            }
        }
    }
}

.menu--subcontainer14 {
    width: fit-content;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-family: $fontNormal;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgb(187, 187, 187);
    height: 0;
    transition: height .4s ease;
    overflow: hidden;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px rgb(152, 152, 152);
        padding: 16px;
        color: black;

        p {
            margin-right: 64px;
        }
    }

    div:last-child {
        border-bottom: none;
    }
}


@media(max-width: 850px) {
    .menu--container {
        height: 100px;
        overflow: visible;

        .menu--subcontainer11 {
            padding: $medium $small;
            border-bottom: solid 2px rgb(238, 238, 238);
            font-size: 24px;
            margin-left: 0;


            p {
                font-size: 24px;
                line-height: 44px;
            }
        }

        .menu--subcontainer12 {
            display: none;
        }

        .menu--subcontainer14 {
            // position: relative;
            right: 0;
            top: 100px;
        }
    }
}


// @media (max-width: 500px) {
//     .menu--container {

//         .menu--subcontainer12 {}

//     }
// }